.profile-doctor-container {
    .intro-doctor {
        display: flex;
        margin: 12px 0;
        .content-left {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            box-shadow: 0 1px 6px #20212447;
        }
        .content-right {
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            padding-left: 12px;
            .up {
                font-weight: 600;
            }
            .down {
                text-align: justify;
            }
        }
    }
    .price {
        color: #f75800;
        font-size: 1.2rem;
        font-weight: 400;
        border-bottom: solid 1px #333;
    }
}
