.users-container {
  .add-new-user {
    margin-bottom: 12px;
    border-radius: none;
  }

  button.btn-create {
    font-size: 1.4rem;
    border: none;
    background-color: #1e9ced;
    border-radius: 3px;
    color: white;
    .icon-plus {
      font-size: 1rem;
      margin: 0 6px 0 12px;
    }
  }
}

.modal-user-container {
    .modal-header {
      padding: 0 10px;
      height: 35px;
      background-color: #1e9ced !important;

      .close {
        padding: 0 6px;
        background-color: #1e9ced;
        border: none;
        font-size: 1.6rem;
        line-height: revert;
        color: white;
      }
    }

    .input-container {
      display: flex;
      justify-content: space-around;
      input {
        width: 300px;
        padding: 8px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        input {
          outline: 1px solid #d1e6fa;
          background-color: white;
        }
      }
    }

    .modal-footer {
      button.btn {
        display: flex ;
        align-items: center ;
        font-weight: 600;
        padding: 8px;
      }
    }
}
