.body-detail {
    position: relative;
    top: 60px;
    .container {
        width: 72%;
        .introduction {
            height: 160px;
            border: 1px solid red;
            display: flex;
            margin-bottom: 20px;
            .wrap-image {
                height: 100%;
                width: 160px;
                margin: 0 20px;
                border: 1px solid #333;
                .introduction-image {
                    height: 100%;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                }
            }
            .introduction-content {
                width: 72%;
            }
        }
        .schedule {
            display: flex;
            height: 250px;
            margin-bottom: 20px;
            border-radius: 1px solid #333;
            justify-content: space-between;
            .schedule-left {
                width: 60%;
                border: 1px solid red;
            }
            .schedule-right {
                width: 36%;
                border: 1px solid red;
            }
        }
        .content-markdown {
            height: 500px;
            border: 1px solid red;
        }
    }
}
.footer-detail {
    position: relative;
    top: 60px;
    margin-top: 60px;
}