.body-detail {
    position: relative;
    top: 60px;
    .container {
        width: 72%;
        .introduction {
            height: 160px;
            // border: 1px solid red;
            display: flex;
            margin-bottom: 20px;
            .wrap-image {
                height: 100%;
                width: 160px;
                margin: 0 20px;
                // border: 1px solid #333;
                .introduction-image {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .introduction-content {
                width: 72%;
            }
        }
        .schedule {
            display: flex;
            min-height: 200px;
            margin-bottom: 20px;
            // border-radius: 1px solid #333;
            justify-content: space-between;
            .schedule-left {
                padding: 4px;
                width: 60%;
                border: 1px solid #d6d6d6;
                border-radius: 4px;
                box-shadow: 0 1px 6px #20212447;
            }
            .schedule-right {
                width: 36%;
                padding: 4px;
                border: 1px solid #d6d6d6;
                border-radius: 4px;
                box-shadow: 0 1px 6px #20212447;
            }
        }
        .content-markdown {
            img {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
            }
        }
    }
}
.footer-detail {
    position: relative;
    top: 60px;
    margin-top: 60px;
}
