.verify-email-container {
    position: relative;
    top: 80px;
    margin: 0 auto;
    span {
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #f74300;
    }
}
