@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .wrap {
        display: flex;
        align-items: center;
        padding-right:10px;
        .welcome {
            margin-right: 10px;
        }
        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
        .language {
            cursor: pointer;
            padding: 4px;
            font-weight: 600;
            .language-vi,
            .language-en {
                opacity: 0.4;
            }
            .language-vi.action,
            .language-en.action{
                color:#f7d800;
                opacity: 1;
            }
            .language-vi:hover,
            .language-en:hover {
                opacity: 0.7;
            }

        }
    }
}